.player-main {
  display: grid;
  // height: 100vh; // fallback
  height: calc(var(--vh, 1vh) * 100);
  min-width: 320px;
  grid-template-columns: var(--sidebarWidth) 1fr;
  grid-template-rows:
    1fr
    $bar-height;
  grid-template-areas:
    "menu content aside"
    "bar bar bar";

  &__content {
    grid-area: content;
    overflow: auto;
  }

  @include media-breakpoint-down(xl) {
    grid-template-columns: unset;
    grid-template-rows:
      1fr
      $bar-height-mobile;
    grid-template-areas:
      "content content content"
      "bar bar bar"
      "menu menu menu";
  }
}
