main.main-content {
  margin-top: rem(88px);
  @include media-breakpoint-down(lg) {
    margin-top: rem(76px);
  }
}

.img-fit {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-270 {
  transform: rotate(270deg);
}

.bg-unset {
  background: unset;
}

.text-decoration-none {
  text-decoration: none;
}

.link-animation {
  position: relative;
  display: inline-block;
  color: $white;
  overflow: hidden;
  span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 275ms ease;
    &::before {
      display: inline-block;
      content: attr(data-content); // attr data-content
      //color to be filled
      color: $light-blue;
      transform: translateX(100%);
      transition: transform 275ms ease;
    }
  }
  &:hover {
    span {
      transform: translateX(0);
      &::before {
        transform: translateX(0);
      }
    }
  }
}
