main.main-content {
  margin-top: rem(88px);
  @include media-breakpoint-down(lg) {
    margin-top: rem(76px);
  }
}

.img-fit {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

.rotate-270 {
  transform: rotate(270deg);
}
