h1,
.h1 {
  font-size: rem(40px);
  @include media-breakpoint-up(md) {
    font-size: rem(50px);
  }
}

h2,
.h2 {
  font-size: rem(36px);
  @include media-breakpoint-up(md) {
    font-size: rem(46px);
  }
}

h3,
.h3 {
  font-size: rem(30px);
  @include media-breakpoint-up(md) {
    font-size: rem(36px);
  }
}

h4,
.h4 {
  font-size: rem(26px);
  @include media-breakpoint-up(md) {
    font-size: rem(30px);
  }
}

h5,
.h5 {
  font-size: rem(20px);
  @include media-breakpoint-up(md) {
    font-size: rem(26px);
  }
}

h6,
.h6 {
  font-size: rem(20px);
}

p,
.p {
  font-size: rem(16px);
}
