.artist {
  &-hero {
    height: 35vh;

    @include media-breakpoint-down(lg) {
      height: 30vh;
    }

    @include media-breakpoint-down(md) {
      height: 20vh;
    }
  }

  &__content {
    z-index: 2;
  }
}

.player-main__content {
  background-color: $dark;
}
